branches.dtd

<!DOCTYPE menu [
<!ELEMENT branches (branch+)>
<!ELEMENT branch (address, contact, openingHours)>
<!ELEMENT address (street, city, state, mapLink)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT mapLink (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT openingHours (weekday, weekend)>
<!ELEMENT weekday (#PCDATA)>
<!ELEMENT weekend (#PCDATA)>
]>