tree.dtd

  <!ELEMENT menu (tableFood, tableHotBeverage, tableBeverage)>
  <!ELEMENT tableFood (product+)>
  <!ELEMENT tableHotBeverage (title, product+, description, image)>
  <!ELEMENT tableBeverage (product+)>
  <!ELEMENT product (title?, price, description?, size?, image)>
  <!ELEMENT image (#PCDATA)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT price (#PCDATA)>
  <!ELEMENT description (#PCDATA)>
  <!ELEMENT size (#PCDATA)>
