tree.dtd

  <!ELEMENT menu (tableFood, tableHotBeverage, tableBeverage)>
  <!ELEMENT tableFood (product+)>
  <!ELEMENT tableHotBeverage (image, title, product+, description)>
  <!ELEMENT tableBeverage (product+)>
  <!ELEMENT product (image, title?, price, description?, size?)>
  <!ELEMENT image (#PCDATA)>
  <!ELEMENT title (#PCDATA)>
  <!ELEMENT price (#PCDATA)>
  <!ELEMENT description (#PCDATA)>
  <!ELEMENT size (#PCDATA)>
